.projects{
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;

    &-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3em;
    }

    &-cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
}

